{% extends "struct.html" %}
{% block content %}
{% include "header.html" %}
<div class="body_container">
    <div class="btns-wrapper-1">
        <div class="action-btn">
            <a href="{{url_for('Main_Index')}}">
                <button class="btn-4">Home</button>
            </a>
        </div>
        <div class="action-btn">
            <a href="{{url_for('Edit_Category', cat_id=cat.id)}}">
                <button class="btn-4">Edit</button>
            </a>
        <div>
    </div>
    <div class="box-1">
        <p class="category_name">{{cat.nam}}</p>
        <hr>
        <p class="category_desc">{{cat.description}}</p>
    </div>
    <div class="action-btn">
        <a href="{{url_for('Delete_Category', cat_id=cat['id'])}}">
            <button class="del-button">Delete</button>
        </a>
    </div>
</div>
{% endblock %}