{% extends "struct.html" %}
{% block content %}
{% include "header.html" %}
<div class="content-container">
    <div class="btns-wrapper-1">
        <div class="action-btn">
            <a href="{{url_for('Main_Index')}}">
                <button class="btn-4">Home</button>
            </a>
        </div>
    </div>
    <form method="POST" class="my-form">
        <table class="edit-menu-item">
            <tr>
                <td><label>Enter Category Name</label></td>
                <td><input class="small-text-box" type="text" name="catItem_name" placeholder="{{item.name}}"></td>
            </tr>
            <tr>
                <td><label>Enter Category description</label></td>
                <td><input class="large-text-box" type="text" name="catItem_desc" placeholde="{{item.description}}"></td>
            </tr>
            {% if err %}
            <tr>
                <p style="font-size: 15px; color: red;">{{err}}</p>
            </tr>
            {% endif %}
        </table>
        <input class="btn-4 btn-submit" type="submit" value="submit">
    </form>

</div>
{% endblock %}