{% extends "struct.html" %}
{% block content %}
{% include "header.html" %}
<div class="content-container">
    <div class="btns-wrapper-1">
        <div class="action-btn">
            <a href="{{url_for('Main_Index')}}">
                <button class="btn-4">Home</button>
            </a>
        </div>
        <div class="action-btn">
            <a href="{{url_for('Show_Items',cat_id=cat_id)}}">
                <button class="btn-4">Back to Items</button>
            </a>
        </div>
            </div>
    <div class="catItem_container">
        <div class="box-1">
            <p class="catItem-name">{{item.name}}</p>
            <hr>
            <p class="catItem-desc">{{item.description}}</p>
        </div>
    </div>
</div>
{% endblock %}