{% extends "struct.html" %}
{% block content %}
{% include "header.html" %}
<div class="content-container">
        <div class="btns-wrapper-1">
            <div class="action-btn">
                <a href="{{url_for('Main_Index')}}">
                    <button class="btn-4">Home</button>
                </a>
            </div>
        </div>
        <div class="catItem_container">
            <div class="box-1">
                <p class="catItem-name">{{cat.name}}</p>
                <hr>
                <p class="catItem-desc">{{cat.description}}</p>
            </div>
        </div>
        <hr>
        <div class="items-container">
            <div class="block-header">
                <p>Items</p>
            </div>
        {% if items %}
            {% for item in items %}
            <div class="cat-item">
                <a href="{{url_for('Show_Item',cat_id=cat['id'],item_id=item['id'])}}">
                    <button class="btn-4">{{item.name}}</button>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <p style="font-size: 20px; font-family: arial;">No Items</p>
        {% endif %}
        </div>
</div>
{% endblock %}